<!-- Start Header Area -->
<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center d-flex">
      <div id="logo">
        <a href="index.html"><img src="./assets/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/about">About</a></li>
          <li routerLinkActive="active"><a routerLink="/work">Portfolio</a></li>
          <li routerLinkActive="active"><a routerLink="/service">Service</a></li>
          <li routerLinkActive="active"><a routerLink="/experience">Experience</a></li>
          <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
          
          <!-- <li class="menu-has-children"><a href="">Blog</a>
            <ul>
              <li><a href="blog-home.html">Blog Home</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- End Header Area -->
