<!-- Start Service Area -->
<section class="service-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Experience</h2>
          <p>Developing Web Application with the latest tecchnologies Angular 6 & Dot net core web api.(MEAN Stack)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s">
          <span class="lnr lnr-screen"></span>
          <h4>
            <span>Web</span> Site
          </h4>
          <p>Single Page Application - Angular 6.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
          <span class="lnr lnr-laptop-phone"></span>
          <h4><span>Application</span> Development
          </h4>
          <p>SPA - Angular 6 & Dot net core web api.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
          <span class="lnr lnr-database"></span>
          <h4><span>MEAN</span> Stack Developer
          </h4>
          <p>Angular 6 with MongoDB application</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
          <span class="lnr lnr-chart-bars"></span>
          <h4><span>Reports</span> Development
          </h4>
          <p>DHTMLX Chart and Tabular Reports</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Area -->
