<!-- Start Job History Area Area -->
<section class="job-area section-gap-top section-gap-bottom-90">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Job History</h2>
          <p></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Lead Product Engineer</h4>
              <p>Cognitive Platform Solutions</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Apr '19 to Till">
                <span>Apr '19 to Till</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            MEAN Stack developer. <br>Designing iVAP tool in Angular 6. Creating Dot Net Core API.<br>
            <b><u>Role:</u></b>
            <li>Designing and Team Leading</li>
            <li>Deployment and machine setup</li>            
            <li>Maintaining defects in Redmine - Bug tracking tool.</li>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Senior Developer</h4>
              <p>Lookman Electroplast</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Feb '18 to Mar '19">
                <span>Feb '18 to Mar '19</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <b>Smart City Application:</b> This application is developed by using .Net
            C# MVC with MongoDB and MySQL as a backend to maintain
            transaction and master data respectively. Signal violators are identified
            and create e-Challan automatically to them by recognizing the vehicle
            number plates (ANPR). Registered Stolen or Block listed vehicles are
            noted while crossing the signal and system will generate alert to police
            department.
            Reports are developed with Dev Express the 3rd party tool.<br>
            <b><u>Role:</u></b>
            <li>Development</li>
            <li>Deployment and machine setup</li>
            <li>Reports developed in DevExpress 18.1.4</li>
            <li>Maintaining defects in Jira - Bug tracking tool.</li>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Technical Lead</h4>
              <p>Swot Technologies</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Jul '17 to Jan '18">
                <span>Jul '17 to Jan '18</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            Worked as a technical lead & designing multiple projects (Inventory,
            Payroll, Dealer Portal, Ad Agency Portal...) with SQL server 2016 as
            backend and WCF services. Handling projects in Dot Net and MVC
            technologies with Telerik 3rd party control.<br>
            <b><u>Role:</u></b>
            <li>Requirement gathering with clients.</li>
            <li>DB Design (Tables, SPs) and Screen Design.</li>
            <li>Weekly review meeting with client and get sign-off</li>
            <li>Maintain testing document (UIT, SIT) and deliver bug free product.</li>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Technical Lead</h4>
              <p>JKR Computers Services W.L.L</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Apr '16 to Mar '17">
                <span>Apr '16 to Mar '17</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
            <b>CRM PORTAL (Customer Relation Management):</b> Developed web
            application CRM PORTAL using asp.net C#, SQL DB (Cloud Server)
            and hosted in GODADDY server. www.jkrit.com/crm
            Scheduling Task for daily collection report as a mail to Admin via
            GODADDY server.<br>
            <b><u>Role:</u></b>
            <li>Requirement gathering with clients.</li>
            <li>DB Design (Tables, SPs) and Screen Design.</li>
            <li>Development with C# dot net, Angular JS 1.x.</li>
            <li>Onsite support at client place (Kingdom of Bahrain) and Team Lead</li>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Technical Lead</h4>
              <p>Perigon InfoTech (p) Ltd</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Jan '14 to Mar '16">
                <span>Jan '14 to Mar '16</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
            Developed web application using asp.net C#, SQL DB (Cloud Server)
            and hosted in Microsoft Azure server. Incorporated 3rd party (CITRUS)
            online payment.<br>
            <b><u>Role:</u></b>
            <li>Requirement gathering with clients.</li>
            <li>Design and development in C# dot net</li>
            <li>Prepared test-based applications for Dot Net applications.</li>
            <li>Analyzed and assessed client requirements for each project.</li>
            <li>Developed and implemented a defect tracking system.</li>
            <li>Tested system applications to identify an issue.</li>
            <li>Administered change requests in a timely manner.</li>
            <li>Developing and Team Leading.</li>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Sr. Analyst</h4>
              <p>Verizon Data Services India (p) Ltd</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Jul '05 to Nov '13">
                <span>Jul '05 to Nov '13</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
            Template Report is the web application (ADO.Net, C#, SQL Server &
              DB2) dealing with metrics data. Installation and Maintenance of
              telephone lines are stored in mart table. There are 400+ reports are
              there. User can decide adhoc reports also.
              SSRS is used to schedule the reports for user. It will automatically
              generate the report with the given parameter and send the result excel
              to user via e-mail.<br>
              <b><u>Role:</u></b>
              <li>Requirement call with onsite team.</li>
              <li>Design and coding, unit testing and SIT deployment.</li>
              <li>Leading offshore team.</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Job Historyt Area Area -->
