
<!-- Start Contact Area -->
<section class="contact-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-title">
          <h2>Contact Me</h2>
          
        </div>
      </div>
    </div>

    <div class="row mt-80">
      <div class="col-lg-4 col-md-4">
        <div class="contact-box">
          <h4>+91 11235 81321</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="contact-box">
          <h4>muthucube@gmail.com</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="contact-box">
          <h4>muthuraman.ga</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="#" class="primary-btn mt-50" data-text="Hire Me">
          <span>H</span>
          <span>i</span>
          <span>r</span>
          <span>e</span>
          <span> </span>
          <span>M</span>
          <span>e</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->